.main-about {
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.left-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
}
.left-box > p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.left-box > p:nth-child(4) {
  font-weight: 600;
}

span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
}
span > p {
  font-weight: 400;
  font-size: 18px;
}

.btn {
  padding: 15px 50px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  background-color: rgb(60, 60, 255);
  color: white;
  transition: all 0.2s ease;
  font-weight: 600;
}
.btn:hover {
  background-color: rgb(48, 48, 255);
  transform: scale(94%);
}

.right-box > img {
  max-width: 600px;
  max-height: 400px;
}

@media screen and (max-width: 1200px) {
  .main-about {
    flex-direction: column;
  }
  .left-box {
    width: 100%;
    padding: 0 30px;
  }
  .btn {
    width: auto;
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
    line-height: 34px;
  }
  .right-box > img {
    width: 100%;
    padding: 0 30px;
  }
}
