<div class="main-about">
  <div class="left-box">
    <h1>Место для командной работы</h1>
    <p>
      Интерактивная онлайн-доска для совместной работы команд — в любое время, в
      любом месте.
    </p>

    <div>
      <button class="btn">Начать бесплатно</button>
    </div>
    <p>Всегда бесплатно — кредитная карта не нужна</p>

    <span>
      <img src="assets/walmart.png" alt="png" />
      <img src="assets/clsgo.png" alt="png" />
      <img src="assets/delolte.png" alt="png" />
      <img src="assets/volue.png" alt="png" />
    </span>
  </div>

  <div class="right-box">
    <img src="assets/about-banner.png" loading="lazy" alt="banner" />
  </div>
</div>
