<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h3>Продукт</h3>
      <ul>
        <li>О продукте</li>
        <li>Приложения и интеграции</li>
        <li>Шаблоны</li>
        <li>Miroverse</li>
        <li>Платформа Разработчика Miro</li>
        <li>Miro для устройств</li>
        <li>Безопасность и соответствие</li>
        <li>Доступность</li>
        <li>Журнал изменений</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Решения</h3>
      <ul>
        <li>Встречи и воркшопы</li>
        <li>Мозговой штурм</li>
        <li>Agile методы в работе</li>
        <li>Диаграмминг</li>
        <li>Исследование</li>
        <li>Стратегия и планирование</li>
        <li>Интеллект-карты</li>
        <li>Концептуальные карты</li>
        <li>Онлайн-стикеры</li>
        <li>Блок-схемы</li>
        <li>Вайрфреймы</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Ресурсы</h3>
      <ul>
        <li>Академия Miro</li>
        <li>Служба поддержки</li>
        <li>Блог</li>
        <li>Статус</li>
        <li>Сообщество Miro</li>
        <li>Miro Professional Network</li>
        <li>Miro Эксперты</li>
        <li>Мероприятия Miro</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Компания</h3>
      <ul>
        <li>О нас</li>
        <li>Карьера 🚀</li>
        <li>Miro в новостях</li>
        <li>Истории клиентов</li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Тарифы и планы</h3>
      <ul>
        <li>Тарифы</li>
        <li>Бизнес</li>
        <li>Предприятия</li>
        <li>Консультанты</li>
        <li>Образование</li>
        <li>Стартапы</li>
        <li>Некоммерческие организации</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <span>
      <div class="footer-socials">
        <img src="assets/twitter.svg" alt="Twitter" />
        <img src="assets/linkedin.svg" alt="LinkedIn" />
        <img src="assets/facebook.svg" alt="Facebook" />
        <img src="assets/youtube.svg" alt="YouTube" />
        <img src="assets/instagram.svg" alt="Instagram" />
      </div>
      <div class="footer-links">
        <span>© 2023 Miro</span>
        <a href="#">Условия пользования</a>
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Управление файлами cookies</a>
      </div>
    </span>
    <div class="footer-apps">
      <img src="assets/appstore.png" alt="App Store" />
      <img src="assets/googleplay.png" alt="Google Play" />
    </div>
  </div>
</footer>
