.header {
  border-bottom: 1px solid gray;
  background-color: white;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.445);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.container > span:first-child {
  align-items: end;
}
.container > span:last-child {
  gap: 40px;
}
.container > span {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav {
  display: flex;
  gap: 20px;
}
nav > a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease;
}
nav > a:hover {
  transform: translate(0, -15%);
  text-decoration: underline;
}
span > button {
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: white;
  transition: all 0.2s ease;
  background-color: rgb(60, 60, 255);
}
span > button:hover {
  background-color: rgb(48, 48, 255);
  transform: scale(94%);
}
.icon {
  cursor: pointer;
}
