.product {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 120px auto 0;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

button {
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgba(216, 235, 255, 0.2);
  transition: all 0.2s ease;
  border: 1px solid rgba(209, 209, 209, 0.8);
}
.box-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.active {
  background-color: rgb(216, 235, 255);
}
.active:hover {
  transform: scale(95%);
}
.inactive:hover {
  transform: scale(110%);
}

.link {
  margin-top: 20px;
  color: rgba(66, 98, 255, 1);
  font-size: 18px;
}

.active-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.banner {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-title {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.active-title > p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 24px;
}
.active-title > p:first-child {
  font-size: 22px;
  font-weight: normal;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
}
.spinner > p {
  background: rgba(223, 228, 255, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .product {
    padding: 0 30px;
  }
  .active-box {
    flex-direction: column;
    gap: 30px;
  }
  .active-title {
    width: 100%;
  }
  .banner {
    width: auto;
    height: auto;
    max-width: 700px;
    max-height: 500px;
    margin: 0 auto;
  }
  h1 {
    font-size: 32px;
    line-height: 34px;
  }
}
