<div class="solution" id="solution">
  <div class="container">
    <div class="left-box">
      <h1>Работайте вместе, где бы вы ни находились</h1>
      <p>
        Работая в офисе, удалённо или в гибридном формате, с Miro ваша команда
        может общаться, сотрудничать и совместно заниматься творчеством в одном
        пространстве, из любой точки мира.
      </p>

      <a href="#" class="link">Узнать больше</a>
    </div>

    <div class="right-box">
      <img src="assets/solution.png" loading="lazy" alt="banner" />
    </div>
  </div>
</div>
